<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Single Processor</th>
        <th class="productTable-name">Dual Processor</th>
        <th class="productTable-name">Quad Processor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem">Starting at<div class="right"><strong> $499/mo</strong></div></td>
        <td class="productTable-featureItem">Starting at<div class="right"><strong> $640/mo</strong></div></td>
        <td class="productTable-featureItem">Starting at<div class="right"><strong> $879/mo</strong></div></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">32GB Single Processor Hex Core Dedicated Server</td>
        <td class="productTable-featureItem">64GB Dual Processor Hex Core Dedicated Server</td>
        <td class="productTable-featureItem">128GB Quad Processor Octa Core Dedicated Server</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">32GB RAM (Up to 384GB)</td>
        <td class="productTable-featureItem">64GB RAM (Up to 768GB)</td>
        <td class="productTable-featureItem">128GB RAM (Up to 1,536GB)</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">Intel Xeon E5-2640 2.5GHz</td>
        <td class="productTable-featureItem">Intel Xeon E5-2640 v3 2.5GHz</td>
        <td class="productTable-featureItem">Intel Xeon E5-4640 2.4GHz</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">6 Cores</td>
        <td class="productTable-featureItem">12 Cores</td>
        <td class="productTable-featureItem">32 Cores</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">5 x 300GB 15K SAS (Up to 8 drives, up to 3TB/drive)</td>
        <td class="productTable-featureItem">2 x 600GB 15K SAS (Up to 8 drives, up to 3TB/drive)</td>
        <td class="productTable-featureItem">2 x 300GB 15K SAS (Up to 8 drives, up to 1.2TB/drive)</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">4 x 1Gb NIC</td>
        <td class="productTable-featureItem">4 x 1Gb NIC</td>
        <td class="productTable-featureItem">4 x 1Gb NIC</td>
      </tr>
    </tbody>
  </table>
</div>
