<style>
  .borders-top-bot-none { border-top: 0; border-bottom: 0;}
</style>
<div class="container half-padding-full">
  <h2>Email Anti-virus Protection</h2>
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name"></th>
        <th class="productTable-name">Starter</th>
        <th class="productTable-name">Premium</th>
        <th class="productTable-name">Enterprise</th>
        <th class="productTable-name">Professional</th>
        <th class="productTable-name">Customized</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>RAM</strong></td>
        <td class="productTable-featureItem">32 GB</td>
        <td class="productTable-featureItem">64 GB</td>
        <td class="productTable-featureItem">128 GB</td>
        <td class="productTable-featureItem">128 GB</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Disk</strong></td>
        <td class="productTable-featureItem">5 300 GB SAS 15K</td>
        <td class="productTable-featureItem">5 600 GB SAS 15K</td>
        <td class="productTable-featureItem">5 600 GB SAS 15K</td>
        <td class="productTable-featureItem">5 600 GB SAS 15K</td>
        <td class="productTable-featureItem borders-top-bot-none">Unique business requirements or compliance concerns?</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Suggested Wrokloads</strong></td>
        <td class="productTable-featureItem">
          <ul>
            <li>Test/dev</li>
            <li>Intranet</li>
            <li>Small public-facing websites (e.g., WordPress)</li>
            <li>CRM solutions </li>
            <li>Simple backup or file servers</li>
          </ul>
        </td>
        <td class="productTable-featureItem">
          <ul>
            <li>Test/dev</li>
            <li>File servers</li>
            <li>Back-office application</li>
            <li>Email, CRM solutions, terminal services and medium public-facing website</li>
          </ul>
        </td>
        <td class="productTable-featureItem">
          <ul>
            <li>Dev/test and production environments</li>
            <li>Complex, custom and/or database-intensive web applications</li>
          </ul>
        </td>
        <td class="productTable-featureItem">
          <ul>
            <li>Big data and analytics</li>
            <li>Ecommerce sites</li>
            <li>productivity application</li>
            <li>Backup/DR</li>
            <li>ERP systems</li>
          </ul>
        </td>
        <td class="productTable-featureItem borders-top-bot-none">Let our architects create a customized solution built on dedicated servers, storage, networking and managed services.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Networking</strong></td>
        <td class="productTable-featureItem">4 x 1GBps</td>
        <td class="productTable-featureItem">4 x 1GBps</td>
        <td class="productTable-featureItem">4 x 1GBps, 2x10 GBps</td>
        <td class="productTable-featureItem">4 x 1GBps, 2x10 GBps</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Firewall</strong></td>
        <td class="productTable-featureItem">Included</td>
        <td class="productTable-featureItem">Included</td>
        <td class="productTable-featureItem">Included</td>
        <td class="productTable-featureItem">Included</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Backup</strong></td>
        <td class="productTable-featureItem">2 week onsite retention</td>
        <td class="productTable-featureItem">2 week onsite retention</td>
        <td class="productTable-featureItem">2 week onsite retention</td>
        <td class="productTable-featureItem">2 week onsite retention</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Backup</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Starting at Price</strong></td>
        <td class="productTable-featureItem">$449</td>
        <td class="productTable-featureItem">$649</td>
        <td class="productTable-featureItem">$749</td>
        <td class="productTable-featureItem">$1049</td>
        <td class="productTable-featureItem borders-top-bot-none"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"></td>
        <td class="productTable-featureItem">
          <div class="full-width center"><a href="#chat" class="button lead">Chat</a></div>
        </td>
        <td class="productTable-featureItem">
          <div class="full-width center"><a href="#chat" class="button lead">Chat</a></div>
        </td>
        <td class="productTable-featureItem">
          <div class="full-width center"><a href="#chat" class="button lead">Chat</a></div>
        </td>
        <td class="productTable-featureItem">
          <div class="full-width center"><a href="#chat" class="button lead">Chat</a></div>
        </td>
        <td class="productTable-featureItem">
          <div class="full-width center"><a href="#chat" class="button lead">Chat to customize</a></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
