<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Key Features</th>
        <th class="productTable-name">Rackspace Email<br> $1.75<sup>*</sup></th>
        <th class="productTable-name">Hosted Exchange<br> $7.00<sup>*</sup></th>
        <th class="productTable-name">Business Essentials<br> $8.00<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem">A partner portal with sales and marketing resources</td>
        <td class="productTable-featureItem">Your ideal storage solution for small to medium file-based (SMB/CIFS, NFS, HDFS) data sets, with a low cost of entry and fast provisioning.</td>
        <td class="productTable-featureItem">NetApp Data ONTAP offers flexible, robust file-level and block-level storage in a single environment that works across all NetApp platforms.</td>
        <td class="productTable-featureItem">Powerful, simple and reliable storage for file-level data sets larger than 70TB.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Fanatical Support® 24x7x365: call, click, or chat</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>EUptime Guarantee</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Email address @ your domain</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>25GB mailboxes</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem">100GB</td>
        <td class="productTable-featureItem">50GB</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Outlook desktop, mobile, and Webmail access</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Full Migration Support</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Premium Anti-Spam and Anti-Virus</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Admin Control Panel</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Group Lists (Distribution Lists)</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Instant Messaging</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Shared calendaring</strong></td>
        <td class="productTable-featureItem">Webmail Only</td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Shared contacts</strong></td>
        <td class="productTable-featureItem">Webmail Only</td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Real-time Outlook, OWA &amp; Mobile Synchronization</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Scheduling Assistant</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Resource mailboxes</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Public folders</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Send-As permissions</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Online document editing</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>SharePoint</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Peer-To-Peer video conferencing</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Hosted with</strong></td>
        <td class="productTable-featureItem">Rackspace</td>
        <td class="productTable-featureItem">Rackspace</td>
        <td class="productTable-featureItem">Microsoft</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p class="copyright"><sup>*</sup> Volume discounts apply</p>
</div>
