<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Features</th>
        <th class="productTable-name"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Support Engineers available 24x7x365</strong></td>
        <td class="productTable-featureItem">Chat, phone, and ticket support is available any time—day or night—so you always get the help you need.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Supported operating systems</strong></td>
        <td class="productTable-featureItem">We provide support for Windows Server 2008/2008/2012, CentOS, and RHEL and Ubuntu virtual machines.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Microsoft Platform support	</strong></td>
        <td class="productTable-featureItem">We manage the underlying Microsoft Cloud Platform stack that includes Hyper-V Server, System Center, and Windows Server.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Architecture Advisors</strong></td>
        <td class="productTable-featureItem">Get guidance for designing a private cloud environment that meets your unique workload requirements.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>SLA guarantee</strong></td>
        <td class="productTable-featureItem">We back the services we offer with an industry-leading SLA and an uptime guarantee.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Launch assistance</strong></td>
        <td class="productTable-featureItem">Our specialists help get your private cloud environment up and running smoothly and quickly.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Monitor, manage, &amp; maintain</strong></td>
        <td class="productTable-featureItem">We proactively monitor your host and guest OS, your private cloud environment, and troubleshoot any issues while providing assistance with patching and upgrading.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Cloud services support</strong></td>
        <td class="productTable-featureItem">We help you choose the services that are best suited to your workload (such as load balancers, backup, and monitoring), adding and removing services as needed.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Scaling support</strong></td>
        <td class="productTable-featureItem">We give you data on your cloud's performance and utilization, providing guidance on scaling your private cloud infrastructure for future growth or high-traffic events.</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p class="copyright">We also include a 100% Network Uptime Guarantee and a 100% Availability Guarantee for critical infrastructure systems, including power and HVAC.</p>
</div>
