<div class="container half-padding-full">
  <h2>Email Anti-virus Protection</h2>
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name"></th>
        <th class="productTable-name"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong></strong></td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong></strong></td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong></strong></td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong></strong></td>
        <td class="productTable-featureItem"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <p></p>
</div>
