<div class="container half-padding-full">
  <h4>Service Level Overview</h4>
  <table class="productTable">
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Support Engineers available 24x7x365</strong></td>
        <td class="productTable-featureItem">Chat, phone, and ticket support is available any time&mdash;day or night&mdash;so you always get the help you need.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Supported operating systems</strong></td>
        <td class="productTable-featureItem">We provide support for Windows Server 2003/2008/2008/2012, CentOS, and RHEL.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Microsoft Platform support</strong></td>
        <td class="productTable-featureItem">We manage the underlying Microsoft Cloud Platform stack that includes Hyper-V Server, System Center, and Windows Azure Pack. View the <a href="http://www.rackspace.com/information/legal/MPC_SLA" target="_blank">full SLA</a>.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Dedicated Account Manager</strong></td>
        <td class="productTable-featureItem">Get a dedicated Account Manager who knows you and your workloads and is there when you need help.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Dedicated Lead Engineer</strong></td>
        <td class="productTable-featureItem">Your Lead Engineer knows your environment inside out and is always available to assist with application and operating system needs.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Architecture Advisors</strong></td>
        <td class="productTable-featureItem">Get guidance for designing a private cloud environment that meets your unique workload requirements.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">SLA guarantee</strong></td>
        <td class="productTable-featureItem">We back the services we offer with an industry-leading SLA and an uptime guarantee.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Launch assistance</strong></td>
        <td class="productTable-featureItem">Our specialists help get your private cloud environment up and running smoothly and quickly.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Monitor, manage, &amp; maintain</strong></td>
        <td class="productTable-featureItem">We proactively monitor your host and guest OS, your private cloud environment, and troubleshoot any issues while providing assistance with patching and upgrading.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Cloud services support</strong></td>
        <td class="productTable-featureItem">We help you choose the services that are best suited to your workload (such as load balancers, backup, and monitoring), adding and removing services as needed.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-feature"><strong class="productTable-strong">Scaling support</strong></td>
        <td class="productTable-featureItem">We give you data on your cloud's performance and utilization, providing guidance on scaling your private cloud infrastructure for future growth or high-traffic events.</td>
      </tr>
    </tbody>
  </table>
  <br>
  <p class="copyright">We also include a 100% Network Uptime Guarantee and a 100% Availability Guarantee for critical infrastructure systems, including power and HVAC.</p>
</div>
