<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name"></th>
        <th class="productTable-name">Shared NAS</th>
        <th class="productTable-name">Dedicated NAS</th>
        <th class="productTable-name">High-capacity Dedicated NAS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem"></td>
        <td class="productTable-featureItem">Your ideal storage solution for small to medium file-based (SMB/CIFS, NFS, HDFS) data sets, with a low cost of entry and fast provisioning.</td>
        <td class="productTable-featureItem">NetApp Data ONTAP offers flexible, robust file-level and block-level storage in a single environment that works across all NetApp platforms.</td>
        <td class="productTable-featureItem">Powerful, simple and reliable storage for file-level data sets larger than 70TB.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Data Sets</strong></td>
        <td class="productTable-featureItem">As small as 350GB</td>
        <td class="productTable-featureItem">From 5TB to over 2PB</td>
        <td class="productTable-featureItem">From 70TB to over multiple PB</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Access</strong></td>
        <td class="productTable-featureItem">File-level</td>
        <td class="productTable-featureItem">Block-level</td>
        <td class="productTable-featureItem">Hadoop-level</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Replication</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Snapshots</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Tiering</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Connection load balancing</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Non-disruptive load balancing</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Deduplication</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Encryption</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem">NSE</td>
        <td class="productTable-featureItem">SED</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Unified (multi-protocol)</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Vaulting</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>PCI-based acceleration</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
      </tr>
     <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>FlashCache</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
      </tr>
     <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Hybrid aggregates</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem notOffered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Solid-state media</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
    </tbody>
  </table>
</div>
