<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Benefit</th>
        <th class="productTable-name">Associate</th>
        <th class="productTable-name">Preferred</th>
        <th class="productTable-name">Premier</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem">A partner portal with sales and marketing resources</td>
        <td class="productTable-featureItem">Your ideal storage solution for small to medium file-based (SMB/CIFS, NFS, HDFS) data sets, with a low cost of entry and fast provisioning.</td>
        <td class="productTable-featureItem">NetApp Data ONTAP offers flexible, robust file-level and block-level storage in a single environment that works across all NetApp platforms.</td>
        <td class="productTable-featureItem">Powerful, simple and reliable storage for file-level data sets larger than 70TB.</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Easily create co-branded collateral</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Partner newsletter</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Partner webinars and events</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Rackspace Reseller Partner logo (specific to your tier)</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>A listing on our Partner Locator for peer-to-peer networking and visibility to Rackspace prospects and customers</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>On-demand training enabling you to easily recommend the right solution for your customers</strong></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Priority listing on our internal Sales and Support customer relationship tool</strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>A customized consultation with our staff, booked through our Customer Experience Center<sup>*</sup></strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Opportunities to sponsor Rackspace customer events<sup>*</sup></strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Funds for marketing joint solutions with Rackspace<sup>*</sup></strong></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem notOffered"></td>
        <td class="productTable-featureItem offered"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <p class="copyright"><sup>*</sup> These benefits are limited and require additional Rackspace approvals.</p>
</div>
