<div class="container half-padding-full">
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Level</th>
        <th class="productTable-name">Revenue attainment</th>
        <th class="productTable-name">Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem">Associate</td>
        <td class="productTable-featureItem">$250–$4,999</td>
        <td class="productTable-featureItem">5%</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">Preferred</td>
        <td class="productTable-featureItem">$5,000–$14,999</td>
        <td class="productTable-featureItem">10%</td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem">Premier</td>
        <td class="productTable-featureItem">$15,000+</td>
        <td class="productTable-featureItem">15%</td>
      </tr>
    </tbody>
  </table>
</div>
