<div class="container half-padding-full">
  <h2>Email Anti-virus Protection</h2>
  <table class="productTable">
    <thead class="productTable-header">
      <tr class="productTable-row">
        <th class="productTable-name">Support Comparison</th>
        <th class="productTable-name">Microsoft Standard</th>
        <th class="productTable-name">Microsoft Premier</th>
        <th class="productTable-name">Rackspace</th>
      </tr>
    </thead>
    <tbody>
      <tr class="productTable-row">
        <td class="productTable-featureItem"></td>
        <td class="productTable-featureItem"></td>
        <td class="productTable-featureItem"></td>
        <td class="productTable-featureItem "></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">128 GB</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
      <tr class="productTable-row">
        <td class="productTable-featureItem"><strong>Processor</strong></td>
        <td class="productTable-featureItem">Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">2x Intel E5-2640 (2.5GHz / 6 core)</td>
        <td class="productTable-featureItem">Intel E5-2630 v3</td>
        <td class="productTable-featureItem">2x Intel E5-2630 v3</td>
        <td class="productTable-featureItem"></td>
      </tr>
    </tbody>
  </table>
</div>
