<!--[footernav]-->
<div class="bg-dark-gray">
  <div class="basementLp-container">
    <div class="basementLp-iconList-wrapper hidden-xs">
      <ul class="basementLp-iconList">
        <li class="basement-iconListItem">
          <a href="https://www.facebook.com/rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-facebook-official"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://twitter.com/Rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-twitter"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://www.youtube.com/rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-youtube"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://plus.google.com/+Rackspace" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-google-plus"></i>
          </a>
        </li>
        <li class="basement-iconListItem">
          <a href="https://www.linkedin.com/company/rackspace-hosting/" target="_blank" class="basement-iconListItemLink">
              <i class="fa fa-2x fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="basementLp-region-select-wrapper">
      <div class="basementLp-region-select">
        <span class="uppercase white basementLp-region-select-text">Change your region:</span>
        <a class="basement-flag-link" data-toggle="modal" id="region" data-target="#regionSelect">
          <div class="basement-flag-icon basement-flag-uk"></div>
        </a>
      </div>
    </div>
    <div class="basementLp-copyright-wrapper">
      <p class="uppercase copyright basementLp-copyright">&reg; 2016 Rackspace US, Inc.<br/>
      <a class="copyright white" href="https://www.rackspace.com/information/legal/privacycenter">Privacy Center</a></p>
    </div>
  </div>
</div>

<!--[/footernav]-->
